
<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Site administration | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="dashboard">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name">Django administration</h1>

        </div>
        
        <div id="user-tools">
            Welcome,
            <strong>ashish_kumar</strong>.
            
                
                
                
                <a href="/admin/password_change/">Change password</a> /
                
                <a href="/admin/logout/">Log out</a>
            
        </div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colMS">
        
        <h1>Site administration</h1>
        
<div id="content-main">


    
        <div class="app-auth module">
        <table>
        <caption>
            <a href="/admin/auth/" class="section" title="Models in the Auth application">
                Auth
            </a>
        </caption>
        
        
        </table>
        </div>
    
        <div class="app-product module">
        <table>
        
            <tr class="model-comments">
            
                <th scope="row"><a href="/admin_trans_user/">User Purchase History</a></th>
			            
            </tr>

            <tr class="model-comments">
            
                <th scope="row"><a href="/admin_trans_prod/">Product Sales Data</a></th>
            
			            
            </tr>

        </table>
        </div>
    

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
