{% extends 'base.html' %}
{% block content %}
<!-- ==================================================Header End====================================================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active"> SHOPPING CART</li>
    </ul>
	<h3>  SHOPPING CART [ <small>{{ count }} Item(s) </small>]</h3>	
	<hr class="soft"/>
			
	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Quantity</th>
				  <th>Price</th>
                  <th>Total</th>
				</tr>
              </thead>
              <tbody>
			  {% for i in prod_name %}
                <tr>
                  <td> <img width="60" src="/static/images/{{i.0.id}}.jpg" alt=""/></td>
                  <td><b>{{i.0.name|upper}}</b><br/>{{i.0.description|truncatechars:10}}</td>
				  <td>
				  {{i.1}}
					 <!-- <div class="input-append"><input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div> -->
				  </td>
                  <td>{{i.0.price}}</td>
                  <td>Rs.  {% widthratio i.0.price 1 i.1 %}</td>
                </tr>
				{% endfor %}
                 <tr>
                  <td colspan="6" align="right"><strong>TOTAL =</strong>	</td>
                  <td class="label label-important"> <strong> {{tot}} </strong></td>
                </tr>
				</tbody>
            </table>
		
		
			<table class="table table-bordered">
			<tbody>
                <tr><th colspan="2">ENTER YOUR SHIPPING INFORMATION</th></tr>
                 <tr> 
				 <td>
					<form class="form-horizontal" action="/showtrans/" method="post">{% csrf_token %}
					  <div class="control-group">
						<label class="span2 control-label" for="inputCountry">City</label>
						<div class="controls">
						  <input type="text" id="inputCountry" placeholder="City" name="city">
						</div>
					  </div>
					  <div class="control-group">
						<label class="span2 control-label" for="inputPost">Complete Address</label>
						<div class="controls">
						  <input type="text" id="inputPost" placeholder="Complete Address" name="add">
						</div>
					  </div>
					  <div class="control-group">
						<div class="controls">
						  <button type="submit" class="btn">PURCHASE</button>
						</div>
					  </div>
					</form>				  
				  </td>
				  </tr>
              </tbody>
            </table>
	<a href="/hoome/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
	
</div>
</div>

 {% endblock %}